rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /interviews/{interviewId} {
      allow read, write: if true;  // Since we're not maintaining user authentication
    }
  }
}